<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lastminutewebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lastminutewebapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LastMinuteWebApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LastMinuteWebApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GrouponDBEntities2" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LastMinuteWebApp.Models.GrouponDBEntities2, LastMinuteWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MyContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LastMinuteWebApp.Models.ApplicationDbContext, LastMinuteWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GrouponDBEntities1" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=35.158.35.241;port=3306;database=GrouponDB;user id=normalUser;password=phpmyadmin" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GrouponDBEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models..csdl|res://*/Models..ssdl|res://*/Models..msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=35.158.35.241;port=3306;database=GrouponDB;user id=normalUser;password=phpmyadmin&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GrouponDBEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=35.158.35.241;port=3306;database=GrouponDB;user id=normalUser;password=phpmyadmin" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GrouponDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.OffertModel.csdl|res://*/Models.OffertModel.ssdl|res://*/Models.OffertModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=35.158.35.241;port=3306;database=GrouponDB;user id=normalUser;password=phpmyadmin&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GrouponDBEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyContext-Web.config Connection String" />
  </ItemGroup>
</Project>